{% extends "index.html" %}
{% block content %}
<section>
    <div class="Post">
        <h1 class="Post-title">{{ page.title }}</h1>
        <div class="Post-info">
            <span>{{ page.date }}</span>
            {% if page.extra.meetup_id %}
            <span>
                <a href="{{ config.extra.meetup }}/events/{{ page.extra.meetup_id }}" target="_blank" rel="noopener nofollow">
                    Link to Meetup
                </a>
            </span>
            {% endif %}
        </div>
        {% if page.extra.youtube_id %}
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.extra.youtube_id }}"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        {% endif %}

        <div class="Post-content">{{ page.content | safe }}</div>
    </div>
</section>
{% endblock content %}